.navBar{
    display: flex;
    gap: 800px;
}

.searchBar{
    padding: 20px 35px;
    background: url(../../public/vercel.svg);
    background-position: center;
    background-repeat:no-repeat;
    border: 1px solid gray;
    border-radius: 50px;
}

.title{
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 10px 170px 10px 60px ;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 76);
}